<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>background</string>
		<key>Key</key>
		<string>tabPosition</string>
		<key>Title</key>
		<string>Place new tab</string>
		<key>Titles</key>
		<array>
			<string>in the background</string>
			<string>in the foreground</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>background</string>
			<string>foreground</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enableShortcut</string>
		<key>Title</key>
		<string>Enable Keyboard Shortcut (Option-A)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
