<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>background</string>
		<key>Key</key>
		<string>tabPosition</string>
		<key>Title</key>
		<string>Open in</string>
		<key>Titles</key>
		<array>
			<string>New Tab (Background)</string>
			<string>New Tab (Foreground)</string>
			<string>New Window</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>background</string>
			<string>foreground</string>
			<string>newwindow</string>
		</array>
	</dict>
</array>
</plist>
